PORT=3000
DATABASE_URL="mysql://root:@localhost:3306/pos_backend"
JWT_SECRET="your_jwt_secret"
MIDTRANS_SERVER_KEY="SB-Mid-server-xxxxxxxxxxxxxxxx"
MIDTRANS_CLIENT_KEY="SB-Mid-client-xxxxxxxxxxxxxxxx"
MIDTRANS_IS_PRODUCTION=false
