PORT=3000
DATABASE_URL="mysql://root:@localhost:3306/pos_backend"
JWT_SECRET="your_jwt_secret"
MIDTRANS_SERVER_KEY="your_midtrans_server_key"
MIDTRANS_CLIENT_KEY="your_midtrans_client_key"
MIDTRANS_IS_PRODUCTION=false
FONNTE_TOKEN="your_fonnte_token"
FONNTE_DEFAULT_TARGET="6281234567890"
GRPC_HOST="0.0.0.0"
GRPC_PORT=50051
RABBITMQ_URL="amqp://localhost:5672"
RABBITMQ_EXCHANGE="pos.events"
